<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      internalLogFile="c:\temp\log.txt" internalLogLevel="Trace">
  <targets>
 -    <target name="console" xsi:type="ColoredConsole" layout="${date:format=HH\:mm\:ss} ${level:uppercase=true} ${message}">
      <highlight-row condition="level = LogLevel.Debug" foregroundColor="DarkGray" backgroundColor="NoChange"/>
      <highlight-row condition="level = LogLevel.Info" foregroundColor="Gray" backgroundColor="NoChange"/>
      <highlight-row condition="level = LogLevel.Warn" foregroundColor="Yellow" backgroundColor="NoChange"/>
      <highlight-row condition="level = LogLevel.Error" foregroundColor="Red" backgroundColor="Black"/>
      <highlight-row condition="level = LogLevel.Fatal" foregroundColor="White" backgroundColor="Red"/>
    </target>

    <target name="file" xsi:type="File" archiveEvery="Day"  fileName="c:/temp/${appdomain:format=\{1\}}/log/${date:format=yyyy-MM-dd}.txt" layout="[${date:format=yyyy-MM-dd HH\:mm\:ss}] [${level:uppercase=true}] ${message:fixedLength=true} ${stacktrace} "/>

     </targets>
  <rules>
<!--    <logger name="*" minlevel="Trace" writeTo="conole"/>-->
    <logger name="*" minlevel="Trace" writeTo="file"/>
    <logger name="*" minlevel="Trace" writeTo="db"/>
  </rules>
</nlog>
